.idea
db.sqlite3
/.pnp
celerybeat-schedule.db
celerybeat.pid
/env
/static
/syslogs
/env.py
/media/*
/env.db
.DS_Store
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
.pnp.js
*__pycache__*
TOPC_Reg_SYS/migrations/__pycache__/
TOPC_Reg_SYS/views/__pycache__
TOPC_Reg_SYS/__pycache__/
venv