{% extends 'base.html' %}

{% block body %}
    <div class="container">
        {% if user.is_superuser %}
            <div class="row">
                <a href="{% url 'upload' %}" class="btn btn-info ml-auto">Upload Data</a>
            </div>
        {% endif %}
        {% if msg == 'Entry Succcessful' %}
            <h4 class="alert alert-success">
                <center>{{ msg }}</center>
            </h4>
        {% elif msg %}
            <h4 class="alert alert-danger">{{ msg }}</h4>
        {% endif %}
        <div class="row mb-5">
            <div class="col-md-9 mx-auto">
                <form method="post" id="register-form">
                    {% csrf_token %}

                    <div class="row">

                        <div class="form-group col-md-12">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Name" name="name" required>
                        </div>


                        <div class="form-group col-md-12">
                            <label for="sId">Student ID</label>
                            <input type="text" class="form-control" id="sId" placeholder="Student ID" name="sId"
                                   required>
                        </div>


                        <div class="form-group col-md-6">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Email" name="email"
                                   required>
                        </div>


                        <div class="form-group col-md-6">
                            <label for="phone">Phone No</label>
                            <input type="text" class="form-control" id="phone" placeholder="Phone Number" name="phone"
                                   required>
                        </div>


                        <div class="form-group col-md-4">
                            <label for="campus">Campus</label>
                            <select name="campus" class="form-control" required="true">
                                <option value="MC">Main Campus</option>
                                <option value="UC">Uttara Campus</option>
                            </select>
                        </div>


                        <div class="form-group col-md-8">
                            <label for="department">Department</label>
                            <select name="department" class="form-control" required="true">
                                {% include 'fragment/dept_list.html' %}
                            </select>
                        </div>


                        <div class="form-group col-md-4">
                            <label for="shift">Shift</label>
                            <select name="shift" id="shift" class="form-control" required="true">
                                <option value="Day">Day</option>
                                <option value="Evening">Evening</option>
                            </select>
                        </div>


                        <div class="form-group col-md-4">
                            <label for="semester">Semester</label>
                            <select name="semester" class="form-control" required="true">
                                <option value="1st">1st Semester</option>
                                <option value="2nd">2nd Semester</option>
                            </select>
                        </div>


                        <div class="form-group col-md-4">
                            <label for="section">Section</label>
                            <select name="section" id="section" class="form-control" required="true">
                                {% include 'fragment/section_list.html' %}
                            </select>
                        </div>


                        <div class="form-group col-md-4">
                            <label>Gender</label>
                            <select name="gender" required="true" class="form-control">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>


                    </div>

                    <button type="submit" id="form-submit" class="btn btn-success">Submit</button>


                    <a class="btn btn-danger " href={% url "ush" %}>Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}