<!-- Price box minimal--><!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% load static %}

    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900">
    <link rel="stylesheet" href={% static "css/bootstrap.css" %}>
    <link rel="stylesheet" href={% static "css/fonts.css" %}>
    <link rel="stylesheet" href={% static "css/style.css" %}>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>

    <style>
        .ie-panel {
            display: none;
            background: #212121;
            padding: 10px 0;
            box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
            clear: both;
            text-align: center;
            position: relative;
            z-index: 1;
        }

        html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {
            display: block;
        }

        @media (min-width: 1200px) {
            #table_head {
                font-size: 45px;
                line-height: 1.36111;
            }
        }

        #fun {
            padding: 0px;
            margin-bottom: 30px;
        }

        #diu #login_but {
            color: yellow;
        }

        #table_head {
            color: red;
        }

        #diu {
            margin-top: 30px;
        }

        #login_but {
            background-color: yellow;
        }

    </style>
</head>
<body>
<div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"></a></div>
<div class="preloader">
    <div class="preloader-body">
        <div class="cssload-container">
            <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Loading...</p>
    </div>
</div>
<a class="section section-banner d-none d-xl-block"
   href="https://www.templatemonster.com/intense-multipurpose-html-template.html" target="_blank" style=" "></a>
<div class="page">
    <!-- Page Header-->
    <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar rd-navbar-wide" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
                 data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed"
                 data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static"
                 data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static"
                 data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px"
                 data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                <div class="rd-navbar-main-outer">
                    <div class="rd-navbar-main">
                        <!-- RD Navbar Panel-->
                        <div class="rd-navbar-panel">
                            <!-- RD Navbar Toggle-->
                            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span>
                            </button>
                            <!-- RD Navbar Brand-->
                            <div class="rd-navbar-brand"><a class="brand" href=""><img class="brand-logo-dark"
                                                                                       src="{% static "images/cpc 160x44.png" %}"
                                                                                       alt="" width="261" height="72"
                                                                                       srcset="{% static "images/cpc 160x44.png" %}"/>
                                <img class="brand-logo-light" src="images/cpc 160x44.png" alt="" width="133" height="45"
                                     srcset="images/cpc 160x44.png 2x"/></a>
                            </div>
                        </div>
                        <div class="rd-navbar-nav-wrap">
                            <!-- RD Navbar Nav-->
                            <ul class="rd-navbar-nav">
                                <li class="rd-nav-item active"><a class="rd-nav-link" href="">TOPC_MS Home</a>
                                </li>
                                <li class="rd-nav-item"><a class="rd-nav-link"
                                                           href="https://cpc.daffodilvarsity.edu.bd/" target="_blank">CPC
                                    HOME</a>
                                </li>
                                <li class="rd-nav-item"><a class="rd-nav-link"
                                                           href="http://cpc.daffodilvarsity.edu.bd/takeoff"
                                                           target="_blank">Take-Off Site</a>
                                </li>
                                <li class="rd-nav-item" id='login_but'><a class="rd-nav-link" href="/login/">Login</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- Preview section-->
    <section class="section context-dark bg-image bg-mask bg-mask-2 section-fullheight section-90vh">
        <div class="jumbotron-custom wow fadeInRight">

            <img src="{% static "images/topc_ban.png" %}" alt="My image">

        </div>

    </section>
    <!-- EVERY PROJECT-->
    <section class="section section-xl-custom image-section section-lined mt-5" id='fun'>
        <h4 id='table_head'>
            <center>Check Registration Status
            </center>
        </h4>
        {% include 'fragment/message_show.html' %}

        <div class="container">
            <div class="row my-5 mx-auto">

                <div class="offset-md-2"></div>
                <div class="col-md-9">

                    <form class="form-inline my-2 my-lg-0" method="post">
                        {% csrf_token %}

                        <input class="form-control mr-sm-2 w-75" type="search"
                               placeholder="Enter Your Student ID or Name"
                               aria-label="Search" name="search" id="search1">
                        {#                        <script>#}
                        {#                            window.onload = function () {#}
                        {#                                document.getElementById("search1").focus();#}
                        {#                            };#}
                        {#                        </script>#}
                        <button class="button button-default my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
            <div class="table mx-auto">
                <table class="table">
                    <thead class="button-secontary">
                    {% if students %}
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Token</th>
                            <th scope="col">Status</th>
                        </tr>
                    {% endif %}
                    </thead>
                    <tbody>
                    {% for student in students %}
                        <tr>
                            <td>{{ student.sID }}</td>
                            <td>{{ student.name }}</td>

                            {% if student.status == 'Registered' %}
                                <td>{{ student.token }}</td>
                            {% else %}
                                <td>---</td>
                            {% endif %}
                            <td>{{ student.status }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

    </section>


    <div class="pre-footer-classic bg-gray-700 context-dark">
        <div class="container">
            <div class="row row-30 justify-content-lg-between">
                <div class="col-sm-6 col-lg-3 col-xl-3">
                    <h5>Location</h5>
                    <ul class="list list-sm">
                        <li>
                            <p>Daffodil International University</p>
                        </li>
                        <li>
                            <p>CSE Building</p>
                        </li>
                        <li>
                            <p>Main Campus, Dhanmondi-1205</p>
                        </li>

                    </ul>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <h5>Contacts</h5>
                    {#                    <dl class="list-terms-custom">#}
                    {#                        <dt>Ph.</dt>#}
                    {#                        <dd><a class="link-default" href="tel:#">1-300-123-1234</a></dd>#}
                    {#                    </dl>#}
                    <dl class="list-terms-custom">
                        <dt>Mail.</dt>
                        <dd><a class="link-default" href="mailto:cpc@diu.edu.bd">cpc@diu.edu.bd</a></dd>
                    </dl>
                    <ul class="list-inline list-inline-sm">
                        <li><a class="icon icon-sm icon-gray-filled icon-circle mdi mdi-web"
                               href="https://cpc.daffodilvarsity.edu.bd/"></a></li>
                        <li><a class="icon icon-sm icon-gray-filled icon-circle mdi mdi-facebook"
                               href="https://www.facebook.com/diucpc.official" target="_blank"></a></li>
                        <li><a class="icon icon-sm icon-gray-filled icon-circle mdi mdi-linkedin" href="#"></a></li>
                        <li><a class="icon icon-sm icon-gray-filled icon-circle mdi mdi-twitter" href="#"></a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h5>Newsletter</h5>
                    <form class="rd-form rd-mailform" data-form-output="form-output-global" data-form-type="contact"
                          method="post" action="bat/rd-mailform.php">
                        <div class="form-wrap form-wrap-icon">
                            <div class="form-icon mdi mdi-email-outline"></div>
                            <input class="form-input" id="footer-email" type="email" name="email"
                                   data-constraints="@Email @Required">
                            <label class="form-label" for="footer-email">E-mail</label>
                        </div>
                        <div class="button-wrap">
                            <button class="button button-default button-invariable" type="submit">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer class="section footer-classic context-dark text-center">
        <div class="container">
            <div class="row row-15 justify-content-lg-between">
                <div class="col-lg-6 col-xl-6 text-lg-left">
                    <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span>. All Rights
                        Reserved by
                        <span style="color: yellow"><a href="https://cpc.daffodilvarsity.edu.bd/" target="_blank">DIU CPC</a></span>
                        . Developed by
                        <span style="color: yellow"><a href="https://www.facebook.com/fhwasi"
                                                       target="_blank">Fuad Hasan</a></span>
                        &
                        <span style="color: yellow"><a href="https://www.facebook.com/shakilahmmeed" target="_blank">Shakil Ahmed</a></span>
                    </p>
                </div>
                <div class="col-lg-6 col-xl-6">
                    <ul class="list-inline list-inline-lg text-uppercase">
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Our Team</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>
<div class="snackbars" id="form-output-global"></div>
<script src={% static "js/core.min.js" %}></script>
<script src={% static   "js/script.js" %}></script>
<!-- coded by Drel-->
</body>
</html>