{% extends 'base.html' %}

{% block body %}
    <div class="container-fluid" id="main">
        <div class="row row-offcanvas row-offcanvas-left">

            <!--/col-->

            <div class="col-md-9 col-lg-10 main mx-auto">


                <!--/row-->
                <div class="row my-5 mx-auto">
                    <div class="col-md-8">
                        <form class="form-inline my-2 my-lg-0" method="post">
                            {% csrf_token %}
                            <input class="form-control mr-sm-2 w-75" type="search" placeholder="Enter ID or Name"
                                   aria-label="Search" name="search" id="search2">
                            <script>
                                window.onload = function () {
                                    document.getElementById("search2").focus();
                                };
                            </script>

                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>

                    <div class="col-md-4">
                        <a class="btn btn-success " href={% url "all_std" %}>All Student List</a>
                        <a class="btn btn-warning " href={% url "reg_std_download" %}>Download Data</a>
                    </div>
                </div>


                <table class="table">
                    <thead class="alert btn-info active">
                    <tr>
                        <th scope="col">Token</th>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Semester</th>
                        <th scope="col">Section</th>
                        <th scope="col">T-Shirt</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Email</th>
                        <th scope="col">Registered By</th>
                        <th scope="col">Registration Time</th>
                        {#                    <th scope="col" class="text-center mx-auto">Action</th>#}
                    </tr>
                    </thead>
                    <tbody>

                    {% for student in students %}
                        <tr>
                            <td>{{ student.token }}</td>
                            <td>{{ student.basic_info.sID }}</td>
                            <td>{{ student.basic_info.name }}</td>
                            <td>{{ student.basic_info.semester }}</td>
                            <td>{{ student.basic_info.section }}</td>
                            <td>{{ student.t_shirt }}</td>
                            <td>{{ student.basic_info.phone }} {{ student.basic_info.sec_phone }}</td>
                            <td>{{ student.basic_info.email }}</td>
                            <td>{{ student.regby }}</td>
                            <td>{{ student.regtiem }}</td>
                            {#                                <td>{{ student.basic_info.name }}</td>#}
                            {#                                <td>{{ student.basic_info.name }}</td>#}
                            {#                                <td>{{ student.basic_info.name }}</td>#}
                            {#                                <td>{{ student.basic_info.name }}</td>#}
                            {#                                <td>{{ student.basic_info.name }}</td>#}


                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}