{% extends 'base.html' %}

{% block body %}
    <div class="container-fluid" id="main">
    <div class="row row-offcanvas row-offcanvas-left">

        <!--/col-->

        <div class="col-md-9 col-lg-10 main mx-auto">



            <!--/row-->
            <div class="row my-5 mx-auto">
                <div class="offset-md-2"></div>
                <div class="col-md-8">
                    <form class="form-inline my-2 my-lg-0" method="post">
                        {% csrf_token %}
                        <input class="form-control mr-sm-2 w-75" type="search" placeholder="Enter ID or Name"
                               aria-label="Search" name="search" id="search1">
                        <script>
                            window.onload = function () {
                                document.getElementById("search1").focus();
                            };
                        </script>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
{#        <h3 style="color: #EF3B3A"><center> Registration Cancellation Request List</center></h3>#}
            <h3 class="alert btn-danger active" ><center> Registration Cancellation Request List</center></h3>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Token No</th>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col" class="text-center mx-auto">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for student in students %}
                    <tr>
                        <td>{{ student.token }}</td>
                        <td>{{ student.req_info.sID }}</td>
                        <td>{{ student.req_info.basic_info.name }}</td>
                        <td>{{ student.req_by }}</td>
                        <td class="text-center mx-auto">
                        <a href="/request_approve/{{ student.token }}" class="btn  btn-Danger  ">Approve</a>
                        <a href="/request_cancel/{{ student.token }}" class="btn  btn-success  ">Cancel</a>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}