<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DIU</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
{% include 'fragment/nevbar_s_admin.html' %}
{% include 'fragment/message_show.html' %}

{% if msg == 'Entry Succcessful' %}
    <h4 class="alert alert-success">
        <center>{{ msg }}</center>
    </h4>
{% elif msg %}
    <h4 class="alert alert-danger">{{ msg }}</h4>
{% endif %}

<div class="container">
    <form method="post" id="register-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" id="username"
                 placeholder="{{admin}}" name="username" disabled></input>
        </div>



        <div class="form-group">

            <label for="pass1">Password:</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password" required/>


        </div>

        <div class="form-group">
            <label for="pass2">confirm password:


            </label>
            <input type="password" class="form-control" name="confirm_password" id="confirm_password"
                   placeholder="Enter the Password again" required/><br>
            <h4 id='message'></h4><br>
        </div>
        <div class="form-group">

            <label for="pass1">Enter your password:</label>
            <input type="password" class="form-control" name="admin_password" id="password2" placeholder="Admin's Password" required/>


        </div>


        {#        .........................Password Validity Check start........................#}
        <script>
            $('#password, #confirm_password').on('keyup', function () {
                if ($('#password').val() == '') {
                    $('#message').html('Password is empty').css('color', 'red');
                } else if ($('#password').val() == $('#confirm_password').val()) {
                    $('#message').html('Password matchced').css('color', 'green');
                } else
                    $('#message').html('Password did not match').css('color', 'red');
            });
        </script>
        {#        .........................Email Validity Check end............................#}




        <button type="submit" id="form-submit" class="btn btn-primary">Submit</button>


    </form>


</div>


</body>
</html>