{% extends 'base.html' %}
{% block styles %}
    <style>
        label {
            display: inline-block;
            margin-bottom: .5rem;
            font-weight: 500;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container ">
        {#        {% if user.is_superuser %}#}
        {#            <div class="row">#}
        {#                <a href="{% url 'upload' %}" class="btn btn-info ml-auto">Upload Data</a>#}
        {#            </div>#}
        {#        {% endif %}#}


        {#    <h1>{{ get_reg_std.t_shirt }}</h1>#}
        <div class="row mb-5 bg-info" style="padding-top: 15px; padding-bottom: 15px;">
            <div class="col-md-11 mx-auto">
                <form method="post" id="register-form">
                    {% csrf_token %}
                    <h6 id="result"></h6>
                    <h6 id="result2"></h6>
                    <div class="row">


                        <div class="form-group col-md-12">
                            <label for="u_name">Name</label>
                            <input type="text" name="u_name" class="form-control" id="u_name"
                                   value="{{ student.name }}" {% if user.is_superuser == 0 %}disabled{% endif %}>
                        </div>


                        <div class="form-group col-md-12">
                            <label for="sId">Student ID*</label>
                            <input type="text" class="form-control" id="sId" name="sId" value="{{ student.sID }}"
                                   disabled>
                        </div>


                        <div class="form-group col-md-9">
                            <label for="department" onload="dept_maping()">Department</label>
                            <select name="department" od="department" class="form-control" required="true"
                                    {% if user.is_superuser == 0 %}disabled{% endif %}>
                                <option value="def_dep" id="department">....</option>

                                {% include 'fragment/dept_list.html' %}

                            </select>
                        </div>


                        <div class="form-group col-md-3">
                            <label>Gender</label>
                            <select name="gender" required="true" class="form-control">

                                <option value="{{ student.gender }}">{{ student.gender }}</option>

                                {% if student.gender != 'Male' %}
                                    <option value="Male">Male</option>
                                {% endif %}

                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="campus">Campus*</label>
                            <select name="campus" class="form-control" required="true"
                                    {% if user.is_staff == 0 %}disabled{% endif %}>
                                <option value="{{ student.campus }}">{{ student.campus }}</option>
                                {% if student.campus != 'MC' %}
                                    <option value="MC">MC</option>
                                {% endif %}
                                <option value="PC">PC</option>
                                <option value="UC">UC</option>

                            </select>
                        </div>


                        <div class="form-group col-md-3">
                            <label for="shift">Shift*</label>
                            <select name="shift" id="shift" class="form-control" required="true" disabled>
                                <option value="{{ student.shift }}">{{ student.shift }}</option>
                                {% if student.shift != 'Day' %}
                                    <option value="day">Day</option>
                                {% endif %}

                                <option value="evening">Evening</option>
                            </select>
                        </div>


                        <div class="form-group col-md-3">
                            <label for="semester">Semester*</label>
                            <select name="semester" class="form-control" required="true"
                                    {% if user.is_staff == 0 %}disabled{% endif %}>
                                <option value="{{ student.semester }}">{{ student.semester }}</option>
                                {% if student.semester != '1st' %}
                                    <option value="1st">1st</option>
                                {% endif %}
                                <option value="2nd">2nd</option>
                            </select>
                        </div>


                        <div class="form-group col-md-3">
                            <label for="section">Section*</label>
                            <select name="section" id="section" class="form-control" required="true">
                                <option value="{{ student.section }}">{{ student.section }}</option>
                                {% include 'fragment/section_list.html' %}
                            </select>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="email1">Email</label>
                            <input type="email" id="email1" class="form-control" value="{{ student.email }}" disabled>
                        </div>


                        <div class="form-group col-md-6">
                            <label for="email2">Secondary Email</label>
                            <input type="email" id="email" class="form-control" placeholder="Secondary Email"
                                   name="email2" {% if student.sec_email != 'none' %}
                                   value="{{ student.sec_email }}"{% endif %}>

                        </div>
                        {% include 'fragment/email_validate.html' %}


                        <div class="form-group col-md-6">
                            <label for="phone1">Phone No</label>
                            <input type="text" class="form-control" id="phone1" value="{{ student.phone }}" disabled>
                        </div>


                        <div class="form-group col-md-6">
                            <label for="phone">Secondary Phone No</label>
                            <input type="text" class="form-control" id="phone" name="phone2"
                                   placeholder="Secondary Phone Number"{% if student.sec_phone != 'none' %}
                                   value="{{ student.sec_phone }}"{% endif %}>
                        </div>
                        {% include 'fragment/phone_validation.html' %}


                        <div class="form-group col-md-6 ">
                            <div class="alert btn-warning active">
                                <label for="t_shirt">Tshirt*</label>
                                <select id="t_shirt" name="t_shirt" class="form-control" required="true">

                                    {% if student.status == "Registered" %}
                                        <option value="{{ get_reg_std.t_shirt }}">{{ get_reg_std.t_shirt }}</option>
                                    {% endif %}

                                    {% include 'fragment/t_shirt_size_list.html' %}
                                </select>
                            </div>
                        </div>


                    </div>
                    {% if student.status == "Not_Registered" %}
                        <button type="submit" id="form-submit" class="btn "
                                style="color: #fff;background-color: #025aa5;border-color: #0358a0;">Submit
                        </button>
                    {% else %}
                        <button type="submit" id="form-submit" class="btn "
                                style="color: #fff;background-color: #025aa5;border-color: #0358a0;">Update
                        </button>
                    {% endif %}

                    <a class="btn btn-danger " href={% url "ush" %}>Cancel</a>
                </form>
            </div>
        </div>
    </div>
    {#    <h4 id="department">hiiiiiiiiiiiiiiiiiii</h4>#}

{% endblock %}