{% extends 'base.html' %}

{% block body %}

    <div class="row row-offcanvas row-offcanvas-left">

        <!--/col-->

        <div class="col-md-9 col-lg-10 main mx-auto">


            <!--/row-->
            <div class="row my-5 mx-auto">
                <div class="offset-md-2"></div>
                <div class="col-md-8">
                    <form class="form-inline my-2 my-lg-0" method="post">
                        {% csrf_token %}
                        <input class="form-control mr-sm-2 w-75" type="search" placeholder="Search" aria-label="Search"
                               name="search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    <h4>{{ msg }}</h4>
                    <h4>{{ msg2 }}</h4>
                </div>
            </div>

            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Is_Admin</th>
                    {% if level == 3 %}
                    <th scope="col">Is_SuperAdmin</th>
                    {% endif %}
                    <th scope="col" class="text-center mx-auto">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for student in students %}
                    <tr>

                        <td>{{ student.id }}</td>
                        <td>{{ student.username }}</td>
                        <td>{{ student.is_staff }}</td>
                        {% if level == 3 %}
                         <td>{{ student.is_superuser }}</td>
                        {% endif %}

                        <td class="text-center mx-auto">

                            <a href="/r_set/{{ student.id }}" class="btn  btn-success  ">Password Reset</a>
                            {% if student.username != user.username %}
                                <a href="/delete_user/{{ student.id }}" class="btn  btn-danger ">Delete</a>
                            {% endif %}

                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}