{% if student.department != 'CSE' %}
    <option value="CSE">COMPUTER SCIENCE & ENGINEERING</option>
{% endif %}
<option value="SWE">SOFTWARE ENGINEERING</option>
<option value="CIS">COMPUTING & INFORMATION SYSTEM</option>
<option value="MCT">MULTIMEDIA & CREATIVE TECHNOLOGY</option>
<option value="EEE">ELECTRICAL & ELECTRONIC ENGINEERING</option>
<option value="ETE">ELECTRONICS & TELECOMMUNICATION ENGINEERING</option>
<option value="ARCHITECTURE">ARCHITECTURE</option>
<option value="BBA">BUSINESS ADMINISTRATION</option>
<option value="BS">BUSINESS STUDIES</option>
<option value="CE">CIVIL ENGINEERING</option>
<option value="DS">DEVELOPMENT STUDIES</option>
<option value="ENGLISH">ENGLISH</option>
<option value="ESDM">ENVIRONMENTAL SCIENCE AND DISASTER MANAGEMENT</option>
<option value="GED">GENERAL EDUCATIONAL DEVELOPMENT</option>
<option value="ISL">INFORMATION SCIENCE AND LIBRARY MANAGEMENT</option>
<option value="ITM">INFORMATION TECHNOLOGY & MANAGEMENT</option>
<option value="IM">INNOVATION & ENTREPRENEURSHIP</option>
<option value="JMC">JOURNALISM & MASS COMMUNICATION</option>
<option value="LAW">LAW</option>
<option value="NFE">NUTRITION & FOOD ENGINEERING</option>
<option value="PHARMACY">PHARMACY</option>
<option value="PH">PUBLIC HEALTH</option>
<option value="RE">REAL ESTATE</option>
<option value="TE">TEXTILE ENGINEERING</option>
<option value="THM">TOURISM & HOSPITALITY MANAGEMENT</option>