<nav class="navbar navbar-fixed-top navbar-toggleable-sm navbar-inverse bg-info mb-3"
     style="box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.12);">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="flex-row d-flex">
        <a class="navbar-brand mb-1" href=""><img src="http://diucpc.xyz/static/images/cpc%20160x44.png"
                                                  class="img-fluid"></a>

    </div>
    <div class="navbar-collapse collapse" id="collapsingNavbar">

        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a class="nav-link" href={% url "ush" %}>Home <span class="sr-only">Home</span></a>
            </li>




            {% if user.is_staff %}
                {% include 'fragment/nevbar_admin.html' %}

            {% endif %}
            {% if user.is_superuser %}
                <li class="nav-item">
                    {% if request_count %}
                        <a class="btn alert-success" href={% url "request_list" %}>Requests ({{ request_count }}) <span
                                class="sr-only">Home</span></a>
                    {% endif %}
                </li>

            {% endif %}



            <li class="nav-item ">
                <a class="nav-link" href={% url "home" %}>Hello {{ user.username }}</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/logout/">Logout</a>
            </li>
        </ul>
    </div>
</nav>


{#            {% if user.is_superuser %}#}
{#                {% include 'fragment/nevbar_s_admin.html' %}#}
{#            {% endif %}#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href={% url "add-student" %}>Add Student</a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href={% url "users" %}>Admin List</a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href={% url "signup" %}>Admin Registration</a>#}
{#            </li>#}









