
{##}
{#            {% if user.is_superuser %}#}
{#                {% include 'fragment/nevbar_s_admin.html' %}#}
{#            {% endif %}#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href={% url "add-student" %}>Add Student</a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href={% url "users" %}>Admin List</a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href={% url "signup" %}>Admin Registration</a>#}
{#            </li>#}
